<!DOCTYPE html>
<html>
<head>
    <title>Niezalogowany</title>
    <link rel="stylesheet">
</head>

<body>
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Zaloguj sie</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Login" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Haslo" value="" />
                        </div>
                        <div class="form-group">
                            <form action="{% url 'login' %}">
                                <input type="submit" value="Zaloguj sie">
                            </form>
                        </div>
                        <div class="form-group">
                            <form action="{% url 'mysite:register'%}">
                                <input type="submit" value="Zarejestruj sie">
                            </form>
                        </div>
                </div>
            </div>
        </div>



</body>



</html>




