{% extends 'mysite/home.html' %}
{% block content %}
<style>
    table,th,td{
        border: 1px solid black;
    }
</style>

    {% if user.is_authenticated %}
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Kategoria</th>
            </tr>
            <tr>
                {% for restaurant in restaurants %}
                    <td>{{ restaurant.name }}</td>
                    <td>{{ restaurant.place }}</td>
                    <td>{{ restaurant.category }}</td>
                    <td><button type="button"><a href="{% url 'mysite:edit_restaurant' id=restaurant.id %}">Edytuj</a></button></td>
                    <td><button><a href="{% url 'mysite:delete_restaurant' id=restaurant.id %}">Usun</a></button></td>
                    </tr>
                {% endfor %}
        </table>
        <br>
        <form action="{% url 'mysite:home' %}">
            <input type="submit" value="Powrot">
        </form>
    {% endif %}
{% endblock content %}


