{% if restaurant_list %}
    {% for restaurants in restaurant_list %}

        <li>
            <a style="text-decoration: none; color: black" href="/mysite{{restaurants.id}}/">
            {{ restaurants.name }};
            {{ restaurants.place }}
            </a>
        </li>


{#        <table>#}
{#        <tr>#}
{#            <th>Nazwa</th>#}
{#            <th>Adres</th>#}
{#        </tr>#}
{#            <a style="text-decoration: none; color: black" href="/mysite{{restaurants.id}}/">#}
{#            {{ restaurants.name }};#}
{#            {{ restaurants.place }}#}
{##}
{#        </table>#}


    {% endfor %}
{% else %}
<p>No votes avaible</p>
{% endif %}
