{% extends 'mysite/home.html' %}
{% block content %}
<style>
    table,th,td{
        border: 1px solid black;
    }
</style>

    {% if user.is_authenticated %}
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Adres</th>
            </tr>
            <tr>
                {% for restaurants in restaurants %}
                    <td>{{ restaurants.name }}</td>
                    <td>{{ restaurants.place }}</td>
                    </tr>

                {% endfor %}
        </table>
        <br>
        <form action="{% url 'mysite:home' %}">
            <input type="submit" value="Powrot">
        </form>
    {% endif %}
{% endblock content %}


