{% if restaurant %}
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Miejsce</th>
        </tr>
        <tr>
            <td>{{restaurant.name}};</td>
        </tr>
        <tr>
            <td>{{restaurant.category}};</td>
        </tr>
    </table>

    <br>
    <br>
    <br>
    <br>

        <table>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
            </tr>
            <tr>
                <td>Dupa</td>
                <td>Cycki</td>
            </tr>
        </table>

{% endif %}